/* padding and borders not to be included */
* {
  box-sizing: border-box;
}

/* common properties for whole page */
body {
  font-family: Arial;
  padding: 10px;
  background: black;
  color: white;
  transition: all 0.5s linear;
}

/* Header/Blog Title */
.header {
  background: black;
  margin-bottom: 30px;
}

/* logo of the site */
.logo{
  color: lightgreen;
  font-size: 40px;
}

.secondicon{
  font-size: 20px;
  margin-right: 10px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: green;
  color: white;
}

/* for login button */
.loginbutton{
  height:37px;
  width:60px;
  background-color: inherit;
  color: white;
  border: 2px solid white;
}

/* Create two unequal columns that floats next to each other */

/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* recommended playlist */
.side-playlist li{

  text-align: center;
  padding-right: 35px;
  list-style-type: none;
}

/* playlist on hover */
.side-playlist li:hover{
  background-color: green;
  border-left: 5px blue solid;
}

/* content display */
.side-playlist li a{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.1rem;
}

/* Add a card effect for articles */
.card {
  background-color: black;
  padding-bottom: 20px;
  margin-top: 20px;
}

/*for the main image*/
.fakeimg1 {
  background-image: url("justin tour.jpg");
  background-color: #cccccc;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-blend-mode: color-burn;
}

/* main image text */
.faketext {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* for other cards' content */
.fakeimg {
  background-color: black;
  width: 100%;
  /* padding: 20px; */
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h1{
  font-size: 60px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-weight: bolder;
}

/* for main playlist table */
/* no border */
table{
  border-collapse: collapse;
  width: 70%;
}

/* padding b/w the rows and cols */
table td,tr{
  padding-top: 12px;
  padding-bottom: 30px;
  padding-right: 30px;
  text-align: left;
  border-style: none;
}

/* rows on hover change */
table tr:hover{
  background-color: green;
  border-left: 5px solid blue
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: black;
  padding-left: 20px;
}

/* right column images which are different playlists */
.rightcolimg{
  height:200px;
  width:auto;
  border: 7px inset orange;
  align:center;
  transition: all 0.5s;
}

/* transition on hover */
.rightcolimg:hover{
  height: 230px;
  width: auto;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  position: fixed;
  display: block;
  bottom: 0;
  width: 100%;
  height: auto;
  background: black;
  padding: 20px;
  text-align: center;
  float: left;
}

.footerbtn{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: inherit;
}

.footerbtn i{
  font-size: 1.5rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.fa-ellipsis-h{
  color: white;
  font-size: 2rem;
}

/* like and dislike button used */
.fa {
  font-size: 20px;
  cursor: pointer;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  color: black;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn,.fakeimg {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
-
