/* padding and borders not to be included */
* {
  box-sizing: border-box;
}

/* common styles for all */
body {
  font-family: Arial;
  padding: 10px;
  background: black;
  color: white;
  transition: all 0.5s linear;
}

/* for the main logo */
.logo{
  color: lightgreen;
}

/* for secondicon */
.secondicon{
  font-size: 20px;
  margin-right: 10px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: black;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* Change color on hover */
.topnav a:hover {
  background-color: green;
  color: white;
}

/* for topnav login button */
.loginbutton{
  height:37px;
  width:60px;
  background-color: inherit;
  color: white;
  border: 2px solid white;
}

/* for dropdown playlist */
.dropbtn {
  background-color: inherit;
  color: white;
  padding: 16px;
  font-size: 30px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  border: 1px solid black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown a:hover {background-color: #ddd;}

.dropbtn:focus + div#content {
  display: block;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: right;
  width: 80%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 20%;
  background-color: black;
  padding-left: 20px;
  padding-right: 20px;
}

/* Fake image */
.fakeimg {
  background-color: black;
  width: 100%;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* main song albums */
.album{
  height: 190px;
  width: 300px;
  opacity:0.8;
  border: 5px inset orange;
  margin-bottom: 10px;
  transition: all 0.5s linear;
}
/* on bringing the mouse on the albums */
.album:hover{
  height: 220px;
  width: 350px;
  opacity:1.0;
}

.artist-image{
  height: 120px;
  width: 120px;
  text-align: center;
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 10px 30px 10px;
  justify-content: space-between;
}

.artist-image img{
  border-radius: 50%;
  height: 130px;
  width: 140px;
  padding: 10px;
  transition: all 0.5s;
}

.artist-image img:hover{
  height: 140px;
  width: 150px;
  box-shadow: 0px 1px 3px 3px white;
}
.parent {
    height: 190px;
    width: 300px;
    margin-bottom: 15px;
    border: 5px inset orange;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .5s;
}

.bg-one {background-image: url("sad.jpg");}
.bg-two {background-image: url("cardio.jpg");}
.bg-three {background-image: url("pop.jpg");}
.bg-four{background-image: url("summer1.jpg") }
.bg-five{background-image: url("winter1.jpg");}
.bg-six{background-image: url("trending pic.jpg");}
.bg-7{background-image: url("digital3.jpg") }
.bg-8{background-image: url("digital4.jpg");}
.bg-9{background-image: url("digital1.jpg");}

.name {
    display: none;
    font-size: 30px;
    color: #ffffff !important;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
}

.parent:hover .child, .parent:focus .child {
    transform: scale(1.2);
}

.parent:hover .child:before, .parent:focus .child:before {
    display: block;
}

.parent:hover a, .parent:focus a {
    display: block;
}

.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: lightpink;
    opacity: 0.4;
}

.side-playlist li{

  text-align: center;
  padding-right: 35px;
  list-style-type: none;
}

.side-playlist li:hover{
  background-color: green;
  border-left: 5px blue solid;
}

.side-playlist li a{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.1rem;
}

.rightcolimg{
  height:200px;
  width:auto;
  border: 5px inset orange;
  transition: all 0.5s;
}
.rightcolimg:hover{
  height: 230px;
}

/* Add a card effect for articles */
.card {
  background-color: #1d2458;
  padding: 20px;
  margin-top: 20px;
}
.card1 {
  background-color: black;
  padding: 20px;
  margin-top: 20px;
  margin-right: 20px;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  position: fixed;
  display: none;
  bottom: 0;
  width: 100%;
  height: auto;
  background: black;
  padding: 20px;
  text-align: center;
  float: left;
}

.footerbtn{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: inherit;
}

#footer:target{
  display: block;
}

.footerbtn i{
  font-size: 1.5rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.fa-ellipsis-h{
  color: white;
  font-size: 2rem;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a card{
    float: none;
    width: 100%;
  }
}
